.top {
  display: flex;
  justify-content: space-between;
}

.task {
  background-color: white;
  border: black 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.description{
  color: #a7a7a7;
  font-weight: 600;
}

.dayInWords, .impact{
  color: #6e6e6e;
  font-weight: 600;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.high {
  color: darkred;
}

.medium {
  color: lightblue;
}

.low {
  color: green;
}

.checkIcons {
  width: 50px;
  cursor: pointer;
}