body {
  background-color: powderblue;
}

.todo {
  display: flex;
  flex-direction: column;
  background-color: beige;
  width: 300px;
}

.weather {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  width: 300px;
}

.todo-title {
  display: flex;
  justify-content: center;
}

.weather-title {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none !important;
}

ul.noBullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

li.individualTask {
  display: flex;
}

button.closeTask {
  margin-left: auto;
}
